
@keyframes drop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(80px);
  }
  100% {
    transform: translateY(0px);
  }
}

.lava-lamp {
  position: absolute;
  left: 1em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bubble {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #e64980, #ff8787);
  border-radius: 50%;
  right: 20%;
  animation: drop 6s ease-in-out infinite;
}
.bubble1 {
  position: absolute;
  top: 0;
  width: 24px;
  height: 24px;
  background: linear-gradient(to bottom, #82c91e, #3bc9db);
  border-radius: 50%;
  right: 70%;
  animation: drop 7s ease-in-out infinite;
}
.bubble2 {
  position: absolute;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #7950f2, #f783ac);
  border-radius: 50%;
  left: 20%;
  animation: drop 8s ease-in-out infinite;
}
.bubble3 {
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #4481eb, #04befe);
  border-radius: 50%;
  right: 25%;
  animation: drop 9s ease-in-out infinite;
}



.container::before {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  left: -50%;
  background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.024) 0px,
      rgba(0, 0, 0, 0.24) 2px,
      transparent 1px,
      transparent 50px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(0, 0, 1, 0.24) 0px,
      rgba(0, 0, 1, 0.24) 2px,
      transparent 1px,
      transparent 60px
    );
  animation: grid-shift 500s linear infinite;
}

.container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  animation: aurora-pulse infinite alternate;
}

@keyframes aurora-drift {
  0% {
    background-position:
      0% 0%,
      0% 0%,
      0% 0%;
    filter: hue-rotate(0deg) brightness(1);
  }
  50% {
    background-position:
      -10% -5%,
      5% 10%,
      0% 15%;
    filter: hue-rotate(30deg) brightness(1.2);
  }
  100% {
    background-position:
      5% 10%,
      -10% -5%,
      15% 0%;
    filter: hue-rotate(60deg) brightness(1);
  }
}

@keyframes grid-shift {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-60%, -10%);
  }
}

@keyframes aurora-pulse {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}




